<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <configuration>
    <property>
      <name>dfs.replication</name>
      <value>2</value>
    </property>
    <property>
      <name>dfs.data.dir</name>
      <value>/hadoop/USER/data</value>
    </property>
    <property>
      <name>dfs.name.dir</name>
      <value>/hadoop/USER/name</value>
    </property>
  </configuration>
</configuration>
