*.class
*.log

# template instantiations:
jobs/hadoop
hadoop-conf/core-site.xml
hadoop-conf/hdfs-site.xml
hadoop-conf/mapred-site.xml
hadoop-conf/masters
hadoop-conf/slaves

hadoop-logs/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

project/GenWireFormat.scala

